Source: fzf
Section: utils
Priority: optional
Maintainer: Dario Griffo <dariogriffo@gmail.com>
Build-Depends: debhelper-compat (= 13), wget, ca-certificates
Standards-Version: 4.6.2
Homepage: https://github.com/junegunn/fzf
Rules-Requires-Root: no

Package: fzf
Architecture: amd64 arm64 armel armhf ppc64el s390x riscv64 loong64
Depends: ${misc:Depends}
Description: A command-line fuzzy finder
 fzf is a general-purpose command-line fuzzy finder. It is an interactive
 Unix filter for command-line that can be used with any list; files, command
 history, processes, hostnames, bookmarks, git commits, etc.
